@import "tailwindcss";

.hide-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.mainScreen{
    background: #161717;
}

.sidebar{
    background-color: #1B1C1D;
}

.sideNotActive{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    padding:4px;
    fill:rgb(128, 137, 143);
    cursor: pointer;
    border-radius:50%;
    transition: 200ms ease-in-out;
}

.sideNotActive:hover{
    background-color: #FFFFFF1D;
}

.sideActive{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding:4px;
    fill:white;
    cursor: pointer;
    border-radius:50%;
    transition: 200ms ease-in-out;
    background-color:rgb(48, 48, 48) ;
}

.searchBar{
    background-color: #FFFFFF1A;
    
}

/* sort icons */

.activeBtn{
    background:#103529; 
    color:#D9FDD3;
    border :#FFFFFF1A 1px solid;
}
.inActiveBtn{
    color: #FFFFFF99;
    border :#FFFFFF1A 1px solid;
}


/* messaging profile */

.duration{
    color: #FFFFFF99;
    padding-right: 16px;
    padding-top: 5px;
}

.sent{
    color: #FFFFFF99;
    overflow: hidden;
    padding-right: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.messagingContact:hover{
    background-color: #FFFFFF1A;
}


/* default svg */
.defaultImage{
    height: 200px;
    width: 200px;
}


/* Custom Scrollbar Styling */
.minScrollBar::-webkit-scrollbar {
  width: 6px;                     /* Thin scrollbar */
}

.minScrollBar::-webkit-scrollbar-track {
  background: transparent;        /* Invisible track */
}

.minScrollBar::-webkit-scrollbar-thumb {
  background-color: rgba(80, 80, 80, 0.6);  /* Gray scrollbar */
  border-radius: 9999px;          /* Fully rounded ends */
  transition: background-color 0.2s ease;
}

.minScrollBar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(120, 120, 120, 0.8);  /* Slightly lighter on hover */
}